<p-toast></p-toast>
<div class="admin-page">
    <p-card header="Users" [subheader]="editMode ? 'Edit User' : 'New User'">
        <div class="grid mb-5">
            <div class="col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>

                    <div class="p-toolbar-group-right">
                        <p-button
                            *ngIf="editMode === false; else showEditButton"
                            label="Create"
                            icon="pi pi-plus"
                            styleClass="p-button-primary mr-2"
                            (onClick)="onSubmit()"
                        ></p-button>
                        <ng-template #showEditButton>
                            <p-button label="Edit" icon="pi pi-pencil" styleClass="p-button-success mr-2" (onClick)="onSubmit()"></p-button>
                        </ng-template>

                        <p-button label="Cancel" icon="pi pi-arrow-circle-left" styleClass="p-button-secondary" (onClick)="onCancel()"></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <div class="admin-progress-spinner" *ngIf="showSpinner">
                    <p-progressSpinner></p-progressSpinner>
                </div>

                <form [formGroup]="userForm">
                    <div class="p-fluid formgrid grid">
                        <div class="field col-4">
                            <label for="name">Name</label>
                            <input formControlName="name" id="name" type="text" pInputText />
                            <small *ngIf="userFromControls['name'].invalid && isSubmitted" class="p-error">Name is required</small>
                        </div>
                        <div class="field col-4">
                            <label for="email">Email</label>
                            <input formControlName="email" id="email" type="text" pInputText />
                            <small *ngIf="userFromControls['email'].invalid && isSubmitted" class="p-error"
                                ><span *ngIf="userFromControls['email'].errors?.['required']">email is required</span>
                                <span *ngIf="userFromControls['email'].errors?.['email']">email is invalid</span></small
                            >
                        </div>
                        <div class="field col-4">
                            <label for="password">Password</label>
                            <input formControlName="password" id="password" type="password" pInputText />
                            <small *ngIf="userFromControls['password'].invalid && isSubmitted" class="p-error">Password is required</small>
                        </div>
                        <div class="field col-4">
                            <label for="color">Phone</label><br />
                            <p-inputMask mask="(999) 999-9999" formControlName="phone" placeholder="(999) 999-9999"></p-inputMask>
                            <small *ngIf="userFromControls['phone'].invalid && isSubmitted" class="p-error">phone is required</small>
                        </div>
                        <div class="field col-4">
                            <label for="isAdmin">Is Admin</label><br />
                            <p-inputSwitch formControlName="isAdmin"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="p-fluid formgrid grid">
                        <div class="field col-4">
                            <label for="street">Street</label>
                            <input formControlName="street" id="street" type="text" pInputText />
                        </div>
                        <div class="field col-4">
                            <label for="street">Apartment</label>
                            <input formControlName="apartment" id="apartment" type="text" pInputText />
                        </div>
                        <div class="field col-4">
                            <label for="street">Zip Code</label>
                            <input formControlName="zip" id="zip" type="text" pInputText />
                        </div>
                        <div class="field col-4">
                            <label for="city">City</label>
                            <input formControlName="city" id="city" type="text" pInputText />
                        </div>
                        <div class="field col-4">
                            <label for="country">Country</label><br />
                            <p-dropdown
                                [options]="countries"
                                formControlName="country"
                                optionLabel="name"
                                optionValue="id"
                                [filter]="true"
                                filterBy="name"
                                [showClear]="true"
                                placeholder="Select a Country"
                            ></p-dropdown>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </p-card>
</div>
