header{
  .logo{
    img{
      width: 160px;
    }
  }

  .search{
    padding-top: 22px;
  }

  .navigation{
    padding-top: 23px;
  }

  .tools{
    padding-top: 25px;

    .pi{
      margin-right:  10px;
    }
  }
}
