<header>
    <div class="grid">
        <div class="col-3">
            <div class="logo">
                <img src="assets/images/logo.png" alt="logo" />
            </div>
        </div>
        <div class="col-4 search">
          <products-product-search></products-product-search>
        </div>
        <div class="col-3 col-offset-1 navigation">
            <ngshop-primary-navbar></ngshop-primary-navbar>
        </div>
        <div class="col-1 tools">
            <i class="pi pi-user p-text-secondary" style="font-size: 1rem"></i>
            <orders-cart-icon></orders-cart-icon>
        </div>
    </div>
</header>
