<header>
    <div class="grid">
        <div class="col-3">
            <div class="logo">
                <img src="assets/images/logo.png" alt="logo" />
            </div>
        </div>
        <div class="col-4 search">
          <products-product-search></products-product-search>
        </div>
        <div class="col-3 col-offset-1 navigation">
            <ngshop-primary-navbar></ngshop-primary-navbar>
        </div>
        <div class="col-1 tools">
            <div class="pi pi-user"></div>
            <div class="pi pi-shopping-cart"></div>
        </div>
    </div>
</header>
