<p-toast></p-toast>
<div class="admin-page">
    <p-card header="Categories" [subheader]="editMode ? 'Edit Category' : 'New Category'">
        <div class="grid mb-3">
            <div class="col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>

                    <div class="p-toolbar-group-right">
                        <p-button
                            *ngIf="editMode === false; else showEditButton"
                            label="Create"
                            icon="pi pi-plus"
                            styleClass="p-button-primary mr-2"
                            (onClick)="onSubmit()"
                        ></p-button>
                        <ng-template #showEditButton>
                            <p-button label="Edit" icon="pi pi-pencil" styleClass="p-button-success mr-2" (onClick)="onSubmit()"></p-button>
                        </ng-template>

                        <p-button label="Cancel" icon="pi pi-arrow-circle-left" styleClass="p-button-secondary" (onClick)="onCancel()"></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>

        <div class="grid">
            <div class="col-12">
                <div class="admin-progress-spinner" *ngIf="showSpinner">
                    <p-progressSpinner></p-progressSpinner>
                </div>

                <form [formGroup]="categoryForm">
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="name">Name</label>
                            <input
                                id="name"
                                type="text"
                                formControlName="name"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                            />
                            <small *ngIf="categoryFromControls['name'] && isSubmitted" class="p-error">Name is Required.</small>
                        </div>
                        <div class="field col">
                            <label for="icon">Icon</label>
                            <input
                                id="icon"
                                type="text"
                                formControlName="icon"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                            />
                            <small *ngIf="categoryFromControls['icon'] && isSubmitted" class="p-error">Icon is Required.</small>
                        </div>
                        <div class="field col">
                            <label for="color">Color</label><br>
                            <p-colorPicker id="color" type="text" formControlName="color"></p-colorPicker>
                            <small *ngIf="categoryFromControls['color'] && isSubmitted" class="p-error">Color is Required.</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </p-card>
</div>
