<div class="admin-page">
    <p-card header="Categories" subheader="New Category">
        <div class="grid mb-3">
            <div class="col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>

                    <div class="p-toolbar-group-right">
                        <p-button label="Create" icon="pi pi-plus" styleClass="p-button-success mr-2"></p-button>
                        <p-button label="Cancel" icon="pi pi-arrow-circle-left" styleClass="p-button-secondary"></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>

        <div class="grid">
            <div class="col-12">
                <form>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="name">Name</label>
                            <input
                                id="name"
                                type="text"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                            />
                        </div>
                        <div class="field col">
                            <label for="icon">Icon</label>
                            <input
                                id="icon"
                                type="text"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                            />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </p-card>
</div>
