//Base
@import './base/colors.scss';
@import './base/fonts.scss';
@import './base/mixins.scss';


//Libraries
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';


//Configuration
@import './base/configuration.scss';

//Pages
@import './apps/shop/pages/home-page.scss';
@import './apps/shop/pages/product-list.scss';

//Shared
@import './apps/shop/pages/shared/header.scss';
@import './apps/shop/pages/shared/footer.scss';


//Libs
@import './libs/ui/ui.scss';
